.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.indicatorItem {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 1rem;
  background-color: var(--color-light-gray);
  transition: 0.3s;
}

.indicatorItem.active {
  width: 1rem;
  background-color: var(--color-mate-black);
}
